<?xml version="1.0" encoding="utf-8"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
	<configSections>
		<sectionGroup name="iBATIS">
			<section name="logging" type="IBatisNet.Common.Logging.ConfigurationSectionHandler, IBatisNet.Common"/>
		</sectionGroup>
	</configSections>
	<iBATIS>
		<logging>
			<!--指定日志类型-->
			<logFactoryAdapter type="IBatisNet.Common.Logging.Impl.Log4NetLoggerFA, IBatisNet.Common.Logging.Log4Net"/>
			<!--指定log4net节点使用当前这个配置文件-->
			<arg key="configType" value="inline" />
		</logging>
	</iBATIS>
	<log4net>
		<!-- 定义一个文件输出记录器 -->
		<appender name="AppLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="Log\Log.log"/>
			<param name="AppendToFile" value="true"/>
			<param name="LockingModel" type="log4net.Appender.FileAppender+MinimalLock"/>
			<param name="RollingStyle" value="Date"/>
			<param name="DatePattern" value=".yyMMdd.'log'"/>
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="*************begin************%n%d [%t] %-5p %c [%x] - %m%n"/>
			</layout>
		</appender>

		<!-- Debug 日志 -->
		<appender name="DebugLog" type="log4net.Appender.RollingFileAppender">
			<param name="AppendToFile" value="true"/>
			<param name="LockingModel" type="log4net.Appender.FileAppender+MinimalLock"/>

			<param name="File" value="Log\DebugLog\"/>
			<param name="StaticLogFileName" value="false" />
			<param name="RollingStyle" value="Date"/>
			<param name="DatePattern" value="'Debug_'yyMMdd.'log'"/>
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="*************begin************%n%d [%t] %-5p %c [%x]  %n%m%n"/>
			</layout>
		</appender>

		<!-- Debug 日志 -->
		<logger name="DebugLog">
			<level value="DEBUG" />
			<appender-ref ref="DebugLog" />
		</logger>

		<root>
			<!-- 日志级别：ERROR输出异常，OFF不输出，ALL输出全部 -->
			<level value="ALL"/>
			<appender-ref ref="AppLogFileAppender"/>
		</root>
	</log4net>
</configuration>

