<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<settings>
		<setting useStatementNamespaces="true"/>
	</settings>
	<providers resource="Config/providers.config"/>
	<!-- Database connection information -->
	<database>
    <provider name="oracleClient1.0"/>
		<dataSource name="Default" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.116.162)(PORT=1521))(CONNECT_DATA=(SID=orcl)));User Id=LongTerm_web;Password=strong;"/>
  </database>

  <sqlMaps>
    <sqlMap resource="Config/CommonXML.xml" />
  </sqlMaps>
</sqlMapConfig>