<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <settings>
    <setting useStatementNamespaces="true" />
  </settings>
  <providers resource="Config/providers.config" />
  <!-- Database connection information -->
  <database>
    <provider name="sqlServer2.0" />
    <dataSource name="Default" connectionString="data source=.;database=ZX_TEST;user id=sa;password=123456;min pool size=20; max pool size=500;Timeout=3600" />
  </database>
  <sqlMaps>
    <sqlMap resource="Config/CommonXML.xml" />
    <sqlMap resource="Config/SqlMap/MSSQL/Tb_TableConfig.xml" />
  </sqlMaps>
</sqlMapConfig>