<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <settings>
    <setting useStatementNamespaces="true" />
  </settings>
  <providers resource="Config/providers.config" />
  <database>
    <provider name="OleDb2.0" />
    <dataSource name="Default" connectionString="Provider=Microsoft.Jet.OleDb.4.0;Data Source=\\192.168.116.111\TableConfig_MDB\ConfigTable.mdb;Persist Security Info=True;" />
  </database>
  <sqlMaps>
    <sqlMap resource="Config/CommonXML.xml" />
  </sqlMaps>
</sqlMapConfig>