<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <settings>
    <setting useStatementNamespaces="true" />
  </settings>
  <providers resource="Config/providers.config" />
  <!-- Database connection information -->
  <database>
    <provider name="MySql" />
    <dataSource name="Default" connectionString="Data Source=5596a939350b6.sh.cdb.myqcloud.com;Port=4897;Database=SSO;User ID=cdb_outerroot;Password=zhongxia1992;" />
    
  </database>
  <sqlMaps>
    <sqlMap resource="Config/CommonXML.xml" />
  </sqlMaps>
</sqlMapConfig>